{% extends "base.html" %}
{% load static %}
{% block title %}Forgot Password{% endblock %}

{% block nav %}{% endblock nav %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center">
  <div class="col-md-5">
    <div class="card shadow-lg p-4 rounded-4">
         <a href="{% url 'login' %}" class="close-btn">×</a>


      <h3 class="text-center text-danger fw-bold">Forgot Password</h3>
      <p class="text-center text-muted">Enter your registered email</p>

      <form method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label>Email</label>
          <input type="email" name="email" class="form-control rounded-pill" placeholder="you@example.com" required>
        </div>

        <button class="btn btn-danger w-100 rounded-pill">Send OTP</button>
      </form>

    </div>
  </div>
</div>
{% endblock %}
